{% extends "base.html" %}
{% block content %}
<header><h1>Login</h1></header>

<section class="login-form">
<form method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="xxx@example.com"/>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="xxx"/>
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>

</section>

{% endblock %}